body{
    font-family: 'Abel', sans-serif;
  
}

.txt-dela{
    font-family: 'Dela Gothic One', cursive;
}

.bg-black{
    background-color: black;
    color: white;
}

.white{
    color: white;
     border: 0;
}

.white:hover{
    color: white;
}

.btn:focus{
    box-shadow: 0 0 0 0rem;
}

.bg-black90{
    background-color: rgba(0, 0, 0, .9);
    color: white;
}

.bg-black60{
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.bg-black20{
    background-color: rgba(0, 0, 0, .2);
    color: white;
}

#a-nav{
    color: white;
}

#a-nav:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

#a-nav:focus{
    background-color: rgba(0, 0, 0, 0);
}

#img-nav{
    width: 20%;
    height: auto;
}

.size100{
    width: 100%;
    height: 100%;
}



#bg-unete{
    background-image: url("imagenes/comprar.jpg");
    width: 100%;
    height: 28rem;
}

.rem5{
    width: 100%;
    height: 5rem;
}

#video-background {
    border: none;
    width: 100%;
    height: 100%;
}

